<div class="card text-white" style="width: 18rem; background-color: #0084c2" [ngClass]="shadow_class" (mouseover)="shadow_class='shadow-lg'" (mouseout)="shadow_class=''" >
    <div class="card-header bg-dark" >{{this.titulo}}</div>
    <p></p>
    <img class="card-img-top w-50 h-50 mx-auto" src="{{this.ruta}}" alt="Responsive image">
    <div class="card-body"  >
      <h6 class="card-subtitle mb-2 text-dark">Saldo disponible: $5000</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>
